<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.practice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Practice"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practice">
        <activity
            android:name=".QRCodeGenerate.QRCode_Generator"
            android:exported="false" />
        <activity
            android:name=".HideSystemBar.Hide_SystemBars"
            android:exported="false" />
        <activity
            android:name=".BletoothDemo.BluetoothDemo"
            android:exported="false" />
        <activity
            android:name=".ApiCalling.DemoApiCalling"
            android:exported="false" />
        <activity
            android:name=".Home_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlertPassword.AlertPassword"
            android:exported="false" />
        <activity
            android:name=".BroadcastDemo.BroadCastExample"
            android:exported="false" />
        <activity
            android:name=".NetWorkCheck.NetWorkCheck"
            android:exported="false" />
        <activity
            android:name=".Wifi.Wifi_On_Off"
            android:exported="false" />
        <activity
            android:name=".ContextMenu.ContextMenu_1"
            android:exported="false" />
        <activity
            android:name=".UserPermission.MutiUserPermission"
            android:exported="false" />
        <activity
            android:name=".UserPermission.Sample"
            android:exported="false" />
        <activity
            android:name=".Firebase"
            android:exported="false" />
        <activity
            android:name=".Shared_Preferences.Shared_Pref_main"
            android:exported="false" />
        <activity
            android:name=".Navigation_menu_1.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Navigation_menu.MainActivity"
            android:exported="false" />
        <activity
            android:name=".TabLayout.TabLayout_Main"
            android:exported="true" />
        <activity
            android:name=".ViewPager.ViewPager_"
            android:exported="false" />
        <activity
            android:name=".RecyclerView.RecyclerView_main"
            android:exported="false" />
        <activity
            android:name=".fragments.fragment_main"
            android:exported="false" />
        <activity
            android:name=".fragments_demo"
            android:exported="false" />
        <activity
            android:name=".Grid_View"
            android:exported="false" />
        <activity
            android:name=".Login11"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".unit_converting"
            android:exported="false" />
        <activity
            android:name=".List_view"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>